@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}
main {
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    width: auto;
    min-height: 98svh;
    font-size: 1.5rem;
}

.container {
    text-align: center;
    width: 50%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding-bottom: 5%;
}

input[name="numero"] {
    width: 5em;
    margin-left: 10px;
    text-align: center;
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .2em solid black;
    border-radius: .2em .2em 0 0;
    padding: .4em;
    font-size: 1rem;
}

.results {
    font-family: "Times New Roman", Times, serif;
    display: flex;
    flex-flow: column;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
}

.result {
    padding-right: 1em;
}

.child-results {
    font-style: italic;
    color: gray;
    font-size: 1.3rem;
    text-align: left;
}

h1 {
    font-size: 2.5rem;
}


/* Responsividad */
@media screen and (max-width: 1100px) {
    main {
        flex-direction: column;
    }
    
    .container {
        width: 80%;
        height: 70%;
    }

    h1 { font-size: 2.5rem;}

}


@media screen and (max-width: 600px) {
    main {
        flex-direction: column;
        font-size: .8rem;
    }
    
    .container {
        width: 80%;
        height: 70vh;
    }

    h1 { font-size: 1.5rem;}

    .results > * {
        font-size: 1rem;
    }

}
